p{
color:black;
font-size:30px;
background-color:white;
}
.good{
    font-size:100px;
}
.id{
    font-size:10px;
}

@keyframes body {
    from {background-color: red;}
    to {background-color: yellow;}
}
body {
    background-color: red;
    animation-name: body;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }